@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200; 300; 400; 600; 700; 900&display=swap');
html, body {
margin: 0;
padding: 0;
color: #484848;
font-family: 'Source Sans Pro', sans-serif;
overflow-x: hidden;
}
div, p, input, button, form, ul, h1, h2, h3, h4, h5, h6 {
box-sizing: border-box;
margin: 0;
padding: 0;
}
img {
image-rendering: optimizeSpeed;
image-resolution: snap from-image;
transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}
ul {
list-style-type: none;
}
a:active, a:focus, a:visited, a:hover {
outline: none;
}
a, a:hover {
text-decoration: none;
}
.j-story {
width: 100vw;
height: 100vh;
overflow: hidden;
display: grid;
grid-template-columns: 40% 60%;
}
.j-story__photo {
height: 100%;
width: 95%;
}
.j-story__photo_wrap {
background-color: #0849ff;
height: 100vh;
}
.j-story__info_wrap {
margin-left: 7%;
display: flex;
flex-direction: column;
justify-content: center;
}
.j-story__info_wrap p.j-story__info_above {
font-size: 1.9rem;
color: #545454;
font-weight: 600;
text-transform: uppercase;
}
.j-story__info_wrap .j-story__info_title {
font-size: 82px;
line-height: 86px;
margin-top: 25px;
color: #0849ff;
font-weight: 400;
}
.j-story__info_wrap .j-story__info_title span {
font-weight: 900;
}
.j-story__info_wrap .j-story__info_subtitle {
margin-top: 20px;
font-size: 2.2rem;
font-weight: 300;
}
.logos {
position: absolute;
bottom: 5%;
right: 5%;
height: 50px;
}
.footer__logo_wrap {
display: flex;
align-items: center;
justify-content: space-between;
}
.footer__logo_wrap .footer__logo {
height: 45px;
margin-left: 50px;
max-width: 150px;
}
.century {
width: 100vw;
height: 100vh;
overflow: hidden;
display: grid;
grid-template-rows: 85% 15%;
}
.century__info_wrap {
background-color: #0849ff;
display: grid;
grid-template-columns: repeat(2, minmax(0, 1fr));
place-items: center;
color: #fff;
font-size: 1.8rem;
font-weight: 300;
line-height: 40px;
}
.century__info {
  padding: 10%;
  max-width: 100ch;
}
.century__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.75%;
}
.vistual {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 85% 15%;
}
.vistual__info {
  background-color: #0849ff;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-items: center;
}
.vistual__info_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70%;
}
.vistual_item_list {
  width: 70%;
}
.vistual__item_title {
  font-size: 2.3rem;
  font-weight: 600;
  color: #fff;
}
.vistual__item_subtitle {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 25px;
  color: #fff;
}
.vistual__link {
  display: flex;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.vistual__link_number {
  color: #fac807;
  margin-right: 10px;
}
.vistual__link_name {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.vistual__link_name span {
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  text-transform: none;
  margin-top: 15px;
}
.instance {
  position: relative;
}
.instance__title {
  font-size: 2.5rem;
  font-weight: 400;
  color: #717c9c;
}
.instance__title span {
  color: #0849ff;
  font-weight: 600;
  margin-left: 10px;
}
.instance__description {
  color: #717c9c;
  font-weight: 300;
  font-size: 2rem;
  line-height: 40px;
  width: 70%;
  margin-top: 30px;
}
.instance__hashtags {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin-top: 50px;
}
.instance__hashtags .instance__hashtag {
  padding: 10px 30px;
  background-color: #f7f7f7;
  border-radius: 32px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.judaism {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 85% 15%;
}
.judaism .instance {
  padding-bottom: 10%;
  position: relative;
}
.judaism .logos {
  position: absolute;
  left: -2%;
  bottom: 15%;
}
.judaism .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.judaism .footer__title {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1rem;
}
.person {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 85% 15%;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.person.visible {
  opacity: 1;
}
.person__wrap {
  display: grid;
  padding: 5% 10% 2.5% 10%;
  grid-template-rows: 30% 70%;
}
.person .swiper-container {
  height: 100%;
  width: 100%;
}
.person__slide_wrap {
  display: grid;
  grid-template-rows: 90% 10%;
  width: 100%;
  height: 100%;
}
.person__title_wrap {
  text-align: center;
}
.person__name {
  font-size: 2.5rem;
  color: #0849ff;
  font-weight: 600;
}
.person__info {
  color: #717c9c;
  font-weight: 300;
  font-size: 1.8rem;
  padding-top: 20px;
}
.person__info_wrap {
  background-color: #0849ff;
  color: #fff;
  font-weight: 300;
  text-align: center;
  display: grid;
  place-items: center;
}
.person__footer {
  background-color: #f7f7f7;
}
.person .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.person .swiper-button-prev {
  left: 2.5%;
}
.person .swiper-button-next {
  right: 2.5%;
  transform: rotate(180deg);
}
.person .swiper-button-prev, .person .swiper-button-next {
  top: 55%;
}
.person .swiper-button-prev::after, .person .swiper-button-next::after {
  content: '';
}
@media screen and (min-width: 1920px) {
  .vistual__info_item {
    padding-top: 25%;
  }
  .judaism .instance {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1466px) {
  .judaism .instance {
    padding-bottom: 5%;
  }
  .judaism .logos {
    bottom: 10%;
  }
}
@media screen and (max-width: 1465px) {
  .judaism .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .judaism .footer__logo_wrap {
    margin-top: 30px;
  }
  .judaism .footer__logo:first-child {
    margin-left: 0;
  }
}
.j-story_photo_second {
  display: grid;
  grid-template-rows: 55% 45%;
  height: 100vh;
}
.j-story_photo_second img {
  object-fit: cover;
}
.j-story_photo_second img:first-child {
  position: relative;
  border-bottom: #fff 2px solid;
}
